<!-- <div class="clearfix le-l-bodywrapper js-bodywrapper" id="mainCtr">
    <div class="container-fluid">
        <div class="le-l-middle-col le-u-no-mar-l__mb" id="mainrightCnt">   
            <div class="le-l-level1-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <div class="le-l-base-layout-center">
                            <h1 class="le-u-header-xxl le-u-mar-b-32">New User Registration</h1>
                        </div>
                        <div class="le-l-level2-middle-ctr">
                            <div class="le-l-level2-middle-col le-u-mar-b-24__mb">
                                <leds-panel ngForm="" #registerNewUser="ngForm">
                                    <div class="le-u-pad-t-32 le-u-pad-lr-24">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 le-u-mar-b-16">
                                                <leds-input-field #usernameinput="" class="selector-10-14" [(ngModel)]="username" 
                                                placeholder="Name" name="username" autocomplete="off" maxlength="100"></leds-input-field>
                                                <span style="color: red;font-size: 1.6vmin;" *ngIf="usernameinput.value?.length==100" 
                                                class="selector-10-15">Max Character Reached.</span>
                                            </div>
                                            <div class="col-lg-6 col-md-6 le-u-mar-b-16">
                                                <leds-input-field #userlogininput="" class="selector-10-60" [(ngModel)]="userlogin" 
                                                placeholder="User Login" name="userlogin" autocomplete="off" maxlength="100"></leds-input-field>
                                                <span style="color: red;font-size: 1.6vmin;" *ngIf="userlogininput.value?.length==100"
                                                class="selector-10-61">Max Character Reached.</span>
                                            </div>
                                            <div class="col-lg-6 col-md-6 le-u-mar-b-16">
                                                <leds-input-field class="selector-10-21" type="password" [(ngModel)]="psd" 
                                                placeholder="Password" name="password" autocomplete="off" minlength="6" maxlength="20" #pwdinput=""  inputType="password"></leds-input-field>
                                                <span style="color: red;font-size: 1.6vmin;" *ngIf="pwdinput.value?.length&lt;8 || pwdinput.value?.length==20" 
                                                class="selector-10-24">Password can have minimum 8 and maximum 20 characters</span>
                                            </div>
                                            <div class="col-lg-6 col-md-6 le-u-mar-b-16">
                                                <leds-input-field class="selector-10-30" type="password" [(ngModel)]="confirmPsd" 
                                                placeholder="Confirm Password" name="confirmPsd" autocomplete="off" inputType="password"></leds-input-field>
                                            </div>
                                            <div class="col-lg-6 col-md-6 le-u-mar-b-16">
                                                <leds-input-field class="selector-10-38" [(ngModel)]="email" placeholder="Email" 
                                                name="email" autocomplete="off" maxlength="100" #emailinput=""></leds-input-field>
                                                <span style="color: red;font-size: 1.6vmin;" *ngIf="emailinput.value?.length==100" 
                                                class="selector-10-39">Max Character Reached.</span>
                                            </div>
                                            <div class="col-lg-6 col-md-6 le-u-mar-b-16">
                                                <leds-input-field  class="selector-10-45" [(ngModel)]="company" placeholder="Company" 
                                                name="company" autocomplete="off" maxlength="100" #companyinput="" ></leds-input-field>
                                                <span style="color: red;font-size: 1.6vmin;" *ngIf="companyinput.value?.length==100" 
                                                class="selector-10-46">Max Character Reached.</span>
                                            </div>
                                            <div class="col-lg-6 col-md-6 le-u-mar-b-16">
                                                <leds-input-field  class="selector-10-52" [(ngModel)]="designation" placeholder="Designation" 
                                                name="designation" autocomplete="off" maxlength="100" #disginput=""></leds-input-field>
                                                <span style="color: red;font-size: 1.6vmin;" *ngIf="disginput.value?.length==100" 
                                                class="selector-10-53">Max Character Reached.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div ledsPanelFooter class="le-u-pad-8">
                                        <leds-button designType="text" (click)="createUserAborted()">Back</leds-button>
                                        <leds-button designType="text" buttonType="reset" (click)="createNewUser()">Sign Up</leds-button>
                                    </div>
                                </leds-panel>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>

   -->