<div class="aip-top">
  <div *ngIf="cardToggled" class="clearfix aip-tranparent-backgroud js-bodywrapper" id="mainCtr">
    <div class="aip-container">

      <!-- Main content area -->
      <div class="col-sm-12 col-md-9 col-lg-9 lfx-u-pad-lr-30" id="mainrightCnt">
        <!-- Header Section -->
        <div class="aip-content">

          <!-- Header -->
          <app-aip-header [cardTitle]="cardTitle" [lastRefreshedTime]="lastRefreshedTime" [showAddButton]="createAuth"
            (search)="filterz($event)" (refresh)="refreshComplete()" (add)="createAgentDirectory()">
          </app-aip-header>

          <!-- Filter Section -->
          <app-aip-filter [tagrefresh]="tagrefresh" [servicev1]="servicev1" 
            [agentDirectoryData]="cards"
            [selectedConnectionTypeList]="{ 
              selectedAdapterType: selectedAdapterType
            }" 
            (tagSelected)="tagSelectedEvent($event)"
            (filterStatusChange)="onFilterStatusChange($event)"></app-aip-filter>
        </div>

        <!-- Cards container -->
        <div class="lfx-c-card__action-ul aip-card-container lfx-u-pad-b-40">
          <div class="col-md-8 col-lg-6 col-xl-5 aip-card-wrapper"
            *ngFor="let card of filteredCards | slice: (pageNumber-1) * pageSize : (pageNumber-1) * pageSize + pageSize">
            <div class="card-wrapper h-100">
              <app-aip-card [servicev1]="servicev1" [card]="card" [editAuth]="true" 
                [deleteAuth]="true" (click)="viewAgentDirectory(card.name)" (edit)="editAgentDirectory(card.name)"
                (delete)="deleteAgentDirectory(card.cid)" (download)="downloadSelectedFile(card)">
              </app-aip-card>
            </div>
          </div>
        </div>

        <!-- Empty state -->
        <app-aip-empty-state *ngIf="!filteredCards || filteredCards.length==0"></app-aip-empty-state>

        <!-- Pagination -->
        <app-aip-pagination *ngIf="filteredCards && filteredCards.length>0" [pageNumber]="pageNumber"
          [noOfPages]="noOfPages" [pageArr]="pageArr" [startIndex]="startIndex" [endIndex]="endIndex"
          [hoverStates]="hoverStates" (prevPage)="prevPage()" (nextPage)="nextPage()" (changePage)="changePage($event)">
        </app-aip-pagination>
      </div>
    </div>
  </div>
</div>