:host { display: block !important; width: 100% !important; min-width: 0; height: 100%; box-sizing: border-box; }
.aip-container { width: 100% !important; height: calc(100vh - 100px); }
iframe { width: 100% !important; height: 100% !important; border: none !important; display: block !important; }
