:host ::ng-deep .pDropDown > div > div.p-dropdown-trigger {
  border-left: none;
}

:host ::ng-deep .pDropDown > div.p-dropdown {
  width: 100% !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}

.cip-padding-zero {
  padding: 0px;
}

.cip-padding-14-0-0-0 {
  padding: 14px 0px 0px 0px;
}

.cip-width-100 {
  width: 100%;
}

.cip-overflow-visible {
  overflow: visible !important;
}

:host ::ng-deep .pNumIpWdth50 > span > input.p-inputnumber-input {
  width: 50px !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: 1px solid lightgray !important;
  border-left: none !important;
}

:host ::ng-deep .pNumIpWdth140 > span > input.p-inputnumber-input {
  width: 22.5vw !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: 1px solid lightgray !important;
  border-left: none !important;
}

.cip-margin-right-8 {
  margin-right: 8px;
}

.cip-margin-top-16 {
  margin-top: 16px;
}

.cip-padding-bottom-3em {
  padding-bottom: 1em;
}

.cip-align-checkbox-label {
  margin-bottom: 0px;
  margin-left: 0.3vw;
}

::ng-deep .mat-mdc-form-field-error {
  color: red;
}

::ng-deep .mat-mdc-select-panel {
  height: 200px;
}

.lfx-u-header-lg {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: myriad-pro, Arial, sans-serif !important;
  font-style: normal;
}
