<h1 mat-dialog-title="" class="selector-692-1">
    <strong class="selector-692-2">{{action}}</strong>&nbsp;Row
</h1>
<div mat-dialog-content="" *ngIf="tabValue=='Schema Columns'" class="selector-692-3">
    <div *ngIf="action != 'Delete'; else elseTemplate" class="selector-692-4">
        <mat-form-field class="cip-width-100 selector-692-5">
            <label class="lfx-u-header-lg  selector-692-121">Column_Type<span style="color: red;"
                    class="selector-692-122">*</span></label>
            <mat-select id="schm-conf-coltype" [(ngModel)]="local_data.columntype">
                <mat-option *ngFor="let type of columnTypeArr" [value]="type" (click)="validateForm()"
                    style="background-color: whitesmoke;">
                    {{type}}
                </mat-option>
            </mat-select>

        </mat-form-field>
        <!-- Record_Column_Name -->
        <mat-form-field class="cip-width-100 selector-692-123">
            <label>
                Record_Column_Name
                <span style="color: red;" class="selector-692-124">*</span>
            </label>
            <input matInput [(ngModel)]="local_data.recordcolumnname" [disabled]="false" required
                (input)="validateForm()">
        </mat-form-field>

        <mat-form-field class="cip-width-100 selector-692-123">
            <label>
                Record_Column_Display_Name
                <span style="color: red;" class="selector-692-124">*</span>
            </label>
            <input matInput [(ngModel)]="local_data.recordcolumndisplayname" [disabled]="false" required
                (input)="validateForm()">
        </mat-form-field>

        <mat-error>{{message}}</mat-error>
        <div class="cip-width-100 selector-692-11">
            <div>
                <mat-checkbox [checked]="'false'" [(ngModel)]="local_data.isunique" (change)="validateForm()"
                    class="selector-692-116" labelPosition="after">Unique</mat-checkbox>

            </div>
            <div>
                <mat-checkbox [checked]="'false'" [(ngModel)]="local_data.isrequired" (change)="validateForm()"
                    class="selector-692-118" labelPosition="after">Required</mat-checkbox>

            </div>
            <div>
                <mat-checkbox [checked]="'false'" [(ngModel)]="local_data.isprimarykey" (change)="validateForm()"
                    class="selector-692-222" labelPosition="after">PrimaryKey</mat-checkbox>

            </div>
            <div>
                <mat-checkbox [checked]="'false'" [(ngModel)]="local_data.isencrypted" (change)="validateForm()"
                    class="selector-692-118" labelPosition="after"> Encrypted</mat-checkbox>

            </div>
            <div>
                <mat-checkbox [checked]="'false'" [(ngModel)]="local_data.isvisible" (change)="validateForm()"
                    inputId="field_visible" labelPosition="after"> Visible</mat-checkbox>

            </div>
        </div>
    </div>
    <ng-template #elseTemplate="" class="selector-692-13">
        Sure to delete
        <b class="selector-692-14">{{local_data.recordcolumnname}}</b>?
    </ng-template>
</div>


<div mat-dialog-actions="" class="col-md-12 selector-692-103" style="margin-top: 1rem;">
    <button mat-raised-button="" id="schm-conf-doact" (click)="doAction()"
        [disabled]="tabValue=='Schema Columns' &amp;&amp; disableSave" class="selector-692-104">{{action}}</button>
    <button mat-raised-button="" id="schm-conf-clsdlg" (click)="closeDialog()" mat-flat-button="" color="warn"
        class="selector-692-105">Cancel</button>
</div>