
<div class="aip-container lfx-u-pad-lr-30" id="mainCtr">
    <!-- Header Section -->
    <app-aip-header [cardTitle]="cardTitle" [lastRefreshedTime]="lastRefreshedTime" [showAddButton]="editAuth"
        (search)="searchApp($event)" (refresh)="ngOnInit()" (add)="openAddedit(false)">
    </app-aip-header>

    <!-- Filter Section -->
    <app-aip-filter [tagrefresh]="tagrefresh" [servicev1]="'apps'" [selectedAppTypeList]="{
                        selectedTagType: selectedTagType,
                        selectedTag : selectedTag
                      }" (tagSelected)="tagSelectedEvent($event)"
        (filterStatusChange)="onFilterStatusChange($event)"></app-aip-filter>

    <!-- Loading State -->
    <div *ngIf="loading" role="status" aria-label="Loading cards">
        <app-aip-loading></app-aip-loading>
    </div>

    <!-- Content Area (only shown when not loading) -->
    <ng-container *ngIf="!loading">

        <!-- Cards container -->
        <div *ngIf="appData.length>0" class="row" style='min-width: -webkit-fill-available;padding: 0px;'>
            <div class="col-4" *ngFor="let app of appData,let index=index" style="margin-bottom: 2%;">
                <div style="height: 150px;display: grid">
                    <mat-card class="mat-mdc-card mdc-card lfx-c-card lfx-c-card--hover example-card card-shadow"
                        appearance="outlined" (mouseenter)="app.hover = true" (mouseleave)="app.hover = false">
                        <div class="row main-card-div" >
                            <div class="col-md-8"
                                [ngStyle]="{'height': app.hover ? '100px' : '110px', 'transition': 'height 0.2s'}">
                                <mat-card-header class="mat-card-header-transition">
                                    <mat-card-title class="lfx-card-header">{{app?.alias}}</mat-card-title>
                                </mat-card-header>
                                <mat-card-content class="lfx-app-description" [ngStyle]="{
                                            'height': (app?.description?.length > 200) ? '50%' : '70%',
                                            'transition': 'height 0.2s',
                                            'margin-top': (app?.description?.length < 200) ? '20px' : (app.hover ? '0px' : '30px'),
                                            'margin-bottom': app.hover ? '0px' : '-20px',
                                            'overflow': (app?.description?.length > 200) ? 'hidden' : 'hidden'
                                        }" style="max-height: 60px;">
                                    {{app?.description}}
                                </mat-card-content>


                            </div>
                            <div class="col-md-4"
                                [ngStyle]="{'height': app.hover ? '40%' : '60%',  'transition': 'height 0.2s'}">
                                <img *ngIf="app.image" class="lfx-card-image" [src]="app?.image"
                                    style="height: 100%; object-fit: contain;" />

                                <img *ngIf="!app.image" class="lfx-card-image"
                                    src="assets/images/apps_default_logo.jpeg"
                                    style="height: 100%; object-fit: contain;" alt="Default App Image" />

                            </div>
                        </div>

                         <div class="card-actions-container" [ngStyle]="{
                                   'position': 'relative',
                                   'opacity': app.hover || menuOpenIndex === index ? '1' : '0',
                                   'pointer-events': app.hover || menuOpenIndex === index ? 'auto' : 'none',
                                   'transform': app.hover || menuOpenIndex === index ? 'translateY(0)' : 'translateY(40px)',
                                   'transition': 'opacity 0.2s, transform 0.2s'
                                }">
                            <mat-card-actions
                                class="lfx-c-card__action-hover d-flex justify-content-between card-actions-hover"
                               >
                                <button style="height: 32px !important;" mat-flat-button class="mat-action-button-s view-details-btn overview mat-button-radius"
                                    (click)="openApp(app, 'overview')">
                                    Overview
                                </button>
                                <button mat-menu-item  class="button-hover"  (click)="openApp(app, 'runApp')">
                                    <mat-icon class="embed_option" matTooltip="Open App" [matTooltipPosition]="'below'">
                                        pan_tool_alt
                                    </mat-icon>
                                </button>

                                <div class="aip-cursor w-20">
                                    <div class="lfx-c-avatar  aip-hover-avatar">
                                        {{(app.target.created_by)|firstCharacter}}
                                    </div>
                                    <div class="aip-hover-detail">
                                        <div class="lfx-u-header-md lfx-u-mar-8">{{app.target.created_by}}</div>
                                    </div>
                                </div>

                                <div class="dropdown d-inline-block w-20">
                                    <mat-icon class="aip-cursor action-icon" [matMenuTriggerFor]="menu"                                       
                                        (menuOpened)="menuOpenIndex = index" (menuClosed)="menuOpenIndex = null">
                                        more_vert
                                    </mat-icon>
                                    <mat-menu #menu="matMenu">                                
                                        <button mat-menu-item *ngIf="app.isvideoPresent"
                                            (click)="openApp(app, 'video')">
                                            Open Video
                                        </button>
                                        <button mat-menu-item *ngIf="app.scope=='pipeline'|| app.scope=='chain'"
                                            (click)="navigate(app)">
                                            Navigate
                                        </button>
                                        <button mat-menu-item *ngIf="editAuth" (click)="openAddedit(true,app)">
                                            Edit
                                        </button>            
                                        <button mat-menu-item (click)="deleteApp(index)">
                                            Delete
                                        </button>
                                    </mat-menu>
                                </div>
                            </mat-card-actions>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>

        <!-- Empty state -->
        <app-aip-empty-state *ngIf="shouldShowEmptyState"></app-aip-empty-state>

        <!-- Pagination -->
        <app-aip-pagination *ngIf="shouldShowPagination" [pageNumber]="pageNumber" [noOfPages]="noOfPages"
            [pageArr]="pageArr" [startIndex]="startIndex" [endIndex]="endIndex" [hoverStates]="hoverStates"
            (prevPage)="prevPage()" (nextPage)="nextPage()" (changePage)="changePage($event)">
        </app-aip-pagination>

    </ng-container>
</div>

