.lfx-u-mar-b-16{
margin-bottom: 16px !important;
}

.lfx-u-pad-tb-16
 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.base-color{
    color:#0094ff !important;
}

.secondary-color{
    color:#0a142f !important;
}

.header-text-label
 {
    color: #0094ff;
    font-weight: 600;
}

.back-icon{
  font-size:24px !important;
  color: #0a142f !important;
}
