.aip-center-align{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

input[type="file"] {
    padding: 15px;
}.lfx-form-field {
  width: 100%;
  // margin-bottom: 16px;
}

.lfx-button-group {
  margin-top: 16px;
  gap: 8px;
}

.lfx-label {
  font-weight: 500;
  font-size: 0.95rem;
  color: #00000099 !important;
}
.list-header{
  font-size: 16px; 
  color:#0094ff;
      font: normal normal normal  Roboto !important;


}
.test-btn:hover {
  color: #ffffff !important;
  background-color: #ebf1f6 !important;
  height: 30px !important;
  min-height: 30px !important;
  font-size: 12px !important;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: "Roboto", sans-serif !important;
  border-radius: 16px;
  background: transparent
    linear-gradient(90deg, var(---0052cc) 0%, #0094ff 100%) 0% 0% no-repeat
    padding-box;
  background: transparent linear-gradient(90deg, #0052cc 0%, #0094ff 100%) 0% 0%
    no-repeat padding-box;
}

.test-btn {
  color: #002966 !important;
  background-color: #dadada !important;
  height: 30px !important;
  min-height: 30px !important;
  font-size: 12px !important;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: "Roboto", sans-serif !important;
  border-radius: 16px;
  background: #dadada 0% 0% no-repeat padding-box;
  opacity: 1;
}

.test-btn:disabled {
  color: grey !important;
  background-color: #dadada !important;
  height: 30px !important;
  min-height: 30px !important;
  font-size: 12px !important;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: "Roboto", sans-serif !important;
  border-radius: 16px;
  background: #dadada 0% 0% no-repeat padding-box;
  opacity: 1;
}

:host {
     font-family: "Roboto", "Segoe UI", sans-serif !important;
}

:host ::ng-deep {
     font-family: "Roboto", "Segoe UI", sans-serif !important;

  mat-form-field,
  mat-select,
  mat-option,
  mat-label,
  .mat-select-value,
  .mat-option-text,
  input,
  textarea,
  button,
  .mat-button-wrapper,
  .mat-select-placeholder {
     font-family:  "Roboto", "Segoe UI", sans-serif !important;
  }
}
::ng-deep .mat-mdc-form-field {
  width: 100%;
  background: transparent;
  padding: 0;
}

::ng-deep .mat-mdc-form-field .mat-mdc-text-field-wrapper {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  padding: 0 !important;
}

::ng-deep .mat-mdc-form-field-appearance-fill .mat-mdc-form-field-flex {
  padding: 0 !important;
}

::ng-deep .mat-mdc-input-element {
  font-family: "Roboto", "Segoe UI", sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  padding: 0 !important;
  color: #0a142f;
  background: transparent !important;
  border: none !important;
}

::ng-deep .mat-mdc-form-field-underline {
  display: none !important;
}

::ng-deep .mdc-line-ripple {
  display: none !important;
}

::ng-deep .mat-mdc-input-element {
  background-color: #f7f7f7ed !important;
  border-bottom: 0px solid rgba(0, 0, 0, 0.42) !important;
}

::ng-deep .mdc-text-field {
  border-bottom: 0px solid rgba(0, 0, 0, 0.42) !important;
}

::ng-deep .mdc-text-field {
  all: unset;
  /* or use display: none; if you want to hide it completely */
  /* display: none; */
}

::ng-deep .mat-mdc-select-arrow {
  display: none !important; // Hide default arrow
}

::ng-deep .mat-mdc-select-trigger {
  position: relative;
}

::ng-deep .mat-mdc-select-trigger::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-image: url("/assets/images/Accordion_open.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

::ng-deep mat-label {
  text-align: left;
  font: normal normal normal 12px/18px Roboto !important;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}
::ng-deep mat-option {
  font: normal normal normal  Roboto !important;
  
}


::ng-deep .mat-mdc-form-field input.mat-mdc-input-element {
  text-align: left;
  font: normal normal normal 16px/24px Roboto !important;
  letter-spacing: 0px;
  color: #000000 !important;
  opacity: 1;
  margin-left: 4px !important;
}

::ng-deep .mat-mdc-form-field input.mat-mdc-input-element::placeholder {
  color: #737373 !important;
  text-align: left;
  font: normal normal normal 16px/24px Roboto !important;
  letter-spacing: 0px;
  text-transform: capitalize;
  opacity: 1;
}

.ml-15m {
  margin-left: -11px !important;
}

::ng-deep .mat-mdc-select {
  background-color: #f7f7f7ed !important;
  border-radius: 4px !important;
  margin-left: 4px !important;
  font: normal normal normal  Roboto !important;

}

.mat-button-radius {
  border-radius: 16px !important;
}
