<div class="container-fluid backgroud-color">
    <div class="row">
        <div class="col-lg-12">
            <div class="lfx-l-level1-middle-col">
                <div class="align-items-center d-flex">               
                    <span class="" *ngIf="!customCreate" style="cursor: pointer;">
                        <i class="fa fa-long-arrow-left back-icon" aria-hidden="true"
                            (click)="routeBackToModelList()"></i>
                    </span>
                    <span class="lfx-u-mar-l-8 lfx-u-header-xxl">{{cardTitle}}</span>
                </div>
                <div class="d-flex justify-content-end" *ngIf="check">
                    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
                        <i class="icon x-16 close-icon"></i>
                    </button>
                </div>
                <div class="lfx-l-level2-middle-ctr">
                    <div class="lfx-l-level2-middle-col">
                        <mat-card class="lfx-u-mar-t-24">
                            <div class="lfx-u-mar-tb-16 lfx-u-pad-lr-24">
                                <div>
                                    <jsonforms *ngIf="attributes" [data]="data" [schema]="attributes"
                                        [uischema]="uischema" [renderers]="renderers" (dataChange)="showData($event)">
                                    </jsonforms>
                                    <div class="d-flex lfx-u-pad-lr-24" style="float: right;">
                                        <button mat-raised-button style="background-color: #0a142f; color: white;"
                                            [disabled]="false" (click)="onClickSubmit()"
                                            onmouseover="this.style.backgroundColor='#0094ff'; this.style.color='white';"
                                            onmouseout="this.style.backgroundColor='#0a142f'; this.style.color='white';">
                                            Register
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>