<leds-notification>
    <div class="le-u-pad-24 le-u-no-pad-t">
        <h2 class="le-u-header-xl">Notifications</h2>
    </div>
    <div ledsTabGroup>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>For Your Action<em
                        class="le-c-notification__count">{{totalElements}}</em></ng-template>
                <div class="" style="overflow:auto;max-height: 70vh;">
                    <div class="le-u-pad-lr-24 le-u-pad-tb-16 le-u-pad-t-8">
                        <div class="le-u-pad-16" *ngFor="let forYou of notificationForYou">
                            <leds-card designType="small" actionsOnHover="true">
                                <mat-card-content>
                                    <leds-list>
                                        <ul>
                                            <li>
                                                <span class="clearfix le-c-listitem__nohover">
                                                    <span ledsListContentLeft class="DSA_selectionCard">
                                                        <a class="clearfix" href="javascript:void(0);"
                                                            (click)="selectCard($event)">
                                                            <!-- HOme Icon start-->
                                                            <span class="
                                    float-start
                                    circle24
                                    le-u-mar-r-8
                                    purpleIcon-Circle
                                    DSA_selectedIcon
                                ">
                                                                <i aria-hidden="true" class="icon x-16 white home-icon"></i>
                                                            </span>
                                                            <span class="
                                    float-start
                                    circle24
                                    le-u-mar-r-8 le-u-circle-icon-grey
                                    DSA_unselectedIcon
                                ">
                                                                <i aria-hidden="true" class="icon x-16 home-icon"></i>
                                                            </span>
                                                            <!-- Home icon end -->
                                                            <!-- Inititaive name -->
                                                            <h2 class="
                                    le-u-header-md
                                    le-u-ellipsis
                                    le-u-pad-t-4
                                ">
                                                                {{forYou.entityType}}
                                                            </h2>
                                                        </a>
                                                    </span>
                                                </span>
                                            </li>
                                    </ul>
                                    </leds-list>
                                    <!-- Creation Date -->
                                    <span class="d-flex justify-content-end le-u-mar-u-t-8 le-u-header-sm">
                                        <span>{{forYou.dateTime}}</span>
                                        <span *ngIf="readFlag==true" class="
                  le-u-mar-l-8 le-u-v-mid
                  DSA_StatusDot DSA_StatusDotGreen
                "></span>
                                        <span *ngIf="readFlag!=true" class="
                  le-u-mar-l-8 le-u-v-mid
                  DSA_StatusDot DSA_StatusDotRed
                "></span>
                                    </span>
                                    <!-- Initiative Description -->

                                    <p class="le-u-body-sm le-u-text-neutral-80 le-u-mar-t-8">
                                        {{forYou.message}}
                                    </p>
                                </mat-card-content>
                                <mat-card-actions class="le-c-card__action-hover le-u-mar-t-16">
                                    <leds-button toggleMenuButton  buttonType="button" designType="text" (click)="navigate(forYou)">
                                        View Details
                                    </leds-button>
                                </mat-card-actions>
                            </leds-card>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <!-- <mat-tab>
                <ng-template mat-tab-label>Request you raised</ng-template>
                <div class="" style="overflow:auto;max-height: 70vh;">
                    <div class="le-u-pad-lr-24 le-u-pad-tb-16 le-u-pad-t-8">
                        <leds-card designType="small" actionsOnHover="true">
                            <mat-card-content>
                                <leds-list>
                                    <li>
                                        <span class="clearfix le-c-listitem__nohover">
                                            <span ledsListContentLeft class="DSA_selectionCard">
                                                <a class="clearfix" href="javascript:void(0);"
                                                    (click)="selectCard($event)">
                                                    <span
                                                        class="float-start circle24 le-u-mar-r-8 purpleIcon-Circle DSA_selectedIcon">
                                                        <i aria-hidden="true" class="icon x-16 white home-icon"></i>
                                                    </span>
                                                    <span class="float-start circle24 le-u-mar-r-8 le-u-circle-icon-grey
                                DSA_unselectedIcon
                              ">
                                                        <i aria-hidden="true" class="icon x-16 home-icon"></i>
                                                    </span>
                                                    <h2
                                                        class="le-u-body-md-semibold le-u-text-black le-u-ellipsis le-u-pad-t-4">
                                                        Work From Home
                                                    </h2>
                                                </a>
                                            </span>
                                            <span class="le-u-vertical-right-center">
                                                <span>08 Jun</span>
                                                <span class="
                              le-u-mar-l-8 le-u-v-mid
                              DSA_StatusDot DSA_StatusDotGreen
                            "></span>
                                            </span>
                                        </span>
                                    </li>
                                </leds-list>
                                <p class="le-u-body-md le-u-text-neutral-80 le-u-mar-t-8">
                                    Request submitted for 01 Jun 2020 08 :00 to 02 Jun 2020 17:15
                                </p>
                            </mat-card-content>
                            <mat-card-actions class="le-c-card__action-hover le-u-mar-t-16">
                                <leds-button buttonType="button" designType="text" (click)="navigate('test')">
                                    View Details
                                </leds-button>
                            </mat-card-actions>
                        </leds-card>
                    </div>
                </div>
            </mat-tab> -->


        </mat-tab-group>
    </div>
</leds-notification>