<div class="aip-top">
    <div class="clearfix js-bodywrapper" id="mainCtr">
        <div class="aip-main-content" id="mainrightCnt">
            <!-- Header Section -->
            <div class="aip-content" [class.has-empty-state]="records">
                <!-- Header -->
                <app-aip-header [cardTitle]="cardTitle" [lastRefreshedTime]="lastRefreshedTime"
                    [showAddButton]="createAuth" (search)="filterz($event)" (refresh)="refreshComplete()"
                    (add)="createModel()">
                </app-aip-header>

                <!-- Filter Section -->
                <app-aip-filter [tagrefresh]="tagrefresh" [servicev1]="servicev1" [selectedModelDataSourceList]="{
                        dataSourceList: dataSourceList
                    }" (tagSelected)="tagSelectedEvent($event)" (filterStatusChange)="onFilterStatusChange($event)">
                </app-aip-filter>

                <!-- Empty state (inside same card) -->
                <div class="model-empty-shell" *ngIf="records">
                    <app-aip-empty-state class="model-empty-state"></app-aip-empty-state>
                </div>
            </div>


            <!-- Cards container -->
            <div class="lfx-c-card__action-ul aip-card-container lfx-u-pad-b-40">
                <div class="aip-card-wrapper" *ngFor="let card of cards">
                    <div class="card-wrapper h-100">
                        <app-aip-card [servicev1]="servicev1" [card]="card" [editAuth]="editAuth"
                            [deployAuth]="deployAuth" [deleteAuth]="deleteAuth"
                            (viewDetails)="viewDetails(card,'preview')" (edit)="editModel(card)"
                            (delete)="deleteModels(card)" (downloadModel)="downloadModel(card)">
                        </app-aip-card>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <app-aip-pagination *ngIf="records!=true" [pageNumber]="pageNumber" [noOfPages]="noOfPages"
                [pageArr]="pageArr" [startIndex]="startIndex" [endIndex]="endIndex" [hoverStates]="hoverStates"
                (prevPage)="onPrevPage()" (nextPage)="onNextPage()" (changePage)="onChangePage($event)">
            </app-aip-pagination>

        </div>
    </div>
</div>