<div *ngIf="card" class="container-fluid backgroud-color">
    <div class="lfx-l-level1-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="lfx-l-level1-middle-col lfx-l-base-layout-center">
                    <div class="lfx-l-level2-middle-ctr">
                        <div class="lfx-l-level2-middle-col lfx-u-mar-b-24__mb">
                            <div class="align-items-center flex  justify-content-between flex">
                                <div class=" selector-model-title-head flex  align-items-center">
                                    <mat-icon class="mx-2 aip-cursor" (click)="toggler()"
                                        [ngStyle]="{'color': isBackHovered ? '#0094ff' : '#0a142f'}" matTooltip="Back"
                                        matTooltipPosition="above" (mouseenter)="isBackHovered = true"
                                        (mouseleave)="isBackHovered = false">
                                        arrow_back
                                    </mat-icon>
                                    <span class=" aip-desc-title lfx-u-header-xxl"><span
                                            style=" color: #737373;;">Implementation:
                                        </span>{{card.name}} </span>
                                    <span
                                        class="mx-5  lfx-c-badge float-end lfx-c-badge lfx-c-badge--active float-end">{{card.category}}</span>
                                </div>
                                <div class=" selector-model-title-tail">
                                    <ul class="flex justify-content-between align-items-center">
                                        <li>
                                            <mat-icon *ngIf="editAuth" class="aip-led-icons  aip-cursor mx-2"
                                                (click)="openModal(adapterContent3)" matTooltip="Edit"
                                                [matTooltipPosition]="tooltipPosition" style="cursor: pointer">
                                                edit
                                            </mat-icon>

                                            <ng-template #adapterContent3 let-modal>
                                                <app-adapter-create-edit [data]=card
                                                    [action]="editAction"></app-adapter-create-edit>
                                            </ng-template>
                                        </li>
                                        <li>
                                            <mat-icon *ngIf="deleteAuth" class="aip-led-icons  aip-cursor mx-2"
                                                (click)="deleteAdapter(card.name)" matTooltip="Delete"
                                                [matTooltipPosition]="tooltipPosition" style="cursor: pointer">
                                                delete
                                            </mat-icon>
                                        </li>
                                        <li *ngIf="showRelatedInstances">

                                            <mat-icon class="aip-led-icons  aip-cursor mx-2" (click)="listToggle()"
                                                [matTooltip]="'Hide Related Components'"
                                                [matTooltipPosition]="tooltipPosition" style="cursor: pointer">
                                                zoom_out_map
                                            </mat-icon>
                                        </li>
                                        <li *ngIf="!showRelatedInstances">
                                            <mat-icon class="aip-led-icons  aip-cursor mx-2" (click)="listToggle()"
                                                [matTooltip]="'Show Related Components'"
                                                [matTooltipPosition]="tooltipPosition" style="cursor: pointer">

                                                zoom_in_map
                                            </mat-icon>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 aip-desc lfx-u-mar-tb-16 lfx-u-pad-tb-16 aip-panel-shadow">
                                <div matTabGroup>
                                    <mat-tab-group id="adapter-description-tabs"
                                        (selectedIndexChange)="basicReqTabChange($event)" style="height:50px;">
                                        <mat-tab class="lfx-u-header-xl" label="Details"
                                            data-tab-id="adapter-description-details">

                                            <ng-template mat-tab-label>Details</ng-template>
                                        </mat-tab>
                                        <mat-tab class="lfx-u-header-xl" label="API Spec"
                                            data-tab-id="adapter-description-api-spec">

                                            <ng-template mat-tab-label>API Spec</ng-template>
                                        </mat-tab>
                                    </mat-tab-group>
                                    <div *ngIf="basicReqTab == 'detailsTab'">
                                        <div class="ml-2 row col-md-12">
                                            <div>
                                                <div class="lfx-u-body-sm mt-3 aip-label-color lfx-u-pad-t-16">
                                                    Description
                                                </div>
                                                <div class="lfx-u-body-md mt-3" style="min-height: 4rem;">
                                                    <p class="lfx-u-body-md lfx-u-text-neutral-80 aip-desc-ellipsis">

                                                        {{card.description}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                <div class="aip-model-type col-md-4">
                                                    <div class="lfx-u-body-sm aip-label-color">Connection Name</div>
                                                    <div class="lfx-u-body-md mt-3">
                                                        {{card.executiontype}}-{{card.connectionname}}</div>
                                                </div>
                                                <div class="aip-model-type col-md-4">
                                                    <div class="lfx-u-body-sm aip-label-color">Spec Name</div>
                                                    <div class="lfx-u-body-md mt-3">{{card.spectemplatedomainname}}
                                                    </div>
                                                </div>
                                                <div class="aip-model-type col-md-4">
                                                    <div class="lfx-u-body-sm aip-label-color">App Organisation</div>
                                                    <div class="lfx-u-body-md mt-3">{{card.organization}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-5 lfx-u-mar-l-8">
                                            <hr class="aip-line" />
                                            <div class="row">
                                                <div class="aip-createdBy col-md-6">
                                                    <div class="lfx-u-body-sm aip-label-color">Created By</div>
                                                    <div class="flex mt-2 align-items-center ">
                                                        <div class="lfx-c-avatar  lfx-c-avatar--sm"
                                                            style="margin: 0 2rem 0 0;">
                                                            {{getShortName(card.createdby)}}</div>
                                                        <div class="lfx-u-body-md">{{card.createdby}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="lfx-u-body-sm aip-label-color">Created On</div>
                                                    <div class="lfx-u-body-md  mt-3">{{card.createdon}}</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div *ngIf="basicReqTab == 'swaggerTab'">
                                        <div class="mt-5 lfx-u-mar-l-8">
                                            <lib-swagger-custom [adapterName]="card.name"
                                                [isAdapter]="isAdapter"></lib-swagger-custom>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="showRelatedInstances" class="lfx-l-level2-right-col  lfx-u-pad-t-32">
                            <mat-card class=""
                                *ngIf="relatedInstances.length > 0 || relatedSpecs.length > 0; else noRelatedInstances">
                                <div class="lfx-u-header-lg lfx-u-pad-tb-16 lfx-u-pad-l-32 customHeader">Related
                                    Components
                                </div>
                                <div class="aip-filter aip-scroll-hover">
                                    <div type="default" styleClass="" contentClass="">
                                        <div class="lfx-c-panel__content">
                                            <div class="lfx-u-pad-16">
                                                <ul position="left" [selectOnClick]="true">
                                                    <li class="aip-daa" *ngFor="let component of relatedInstances">
                                                        <div class="aip-related-list"
                                                            (click)="redirectToSelectedComponent(component)">
                                                            <div class="lfx-u-pad-8 aip-cursor">
                                                                <div class="aip-related-component-ellipsis">
                                                                    <span
                                                                        class="lfx-c-nav__nomar lfx-u-header-xl lfx-u-text-neutral-80">{{component.value}}</span>
                                                                </div>
                                                                <div
                                                                    class="lfx-c-badge float-end lfx-c-badge--warning aip-related-badge">
                                                                    <span [matTooltip]="'Related Instance'"
                                                                        [matTooltipPosition]="tooltipPosition">{{component.viewValue}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="aip-daa" *ngFor="let component of nonrelatedInstances">
                                                        <div class="aip-related-list"
                                                            (click)="redirectToSelectedComponent(component)">
                                                            <div class="lfx-u-pad-8 aip-cursor">
                                                                <div class="aip-related-component-ellipsis">
                                                                    <span
                                                                        class="lfx-c-nav__nomar lfx-u-header-xl lfx-u-text-neutral-80">{{component.value}}</span>
                                                                </div>
                                                                <div
                                                                    class="lfx-c-badge float-end lfx-c-badge--warning aip-related-badge">
                                                                    <span [matTooltip]="'Instance'"
                                                                        [matTooltipPosition]="tooltipPosition">{{component.viewValue}}</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="aip-daa" *ngFor="let component of relatedSpecs">
                                                        <div class="aip-related-list"
                                                            (click)="redirectToSelectedComponent(component)">
                                                            <div class="lfx-u-pad-8 aip-cursor">
                                                                <div class="aip-related-component-ellipsis">
                                                                    <span
                                                                        class="lfx-c-nav__nomar lfx-u-header-xl lfx-u-text-neutral-80">{{component.value}}</span>
                                                                </div>
                                                                <div
                                                                    class="lfx-c-badge float-end lfx-c-badge--info aip-related-badge">
                                                                    <span [matTooltip]="'Spec'"
                                                                        [matTooltipPosition]="tooltipPosition">{{component.viewValue}}</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="aip-daa" *ngFor="let component of relatedChains">
                                                        <div class="aip-related-list"
                                                            (click)="redirectToSelectedComponent(component)">
                                                            <div class="lfx-u-pad-8 aip-cursor">
                                                                <div class="aip-related-component-ellipsis">
                                                                    <span
                                                                        class="lfx-c-nav__nomar lfx-u-header-xl lfx-u-text-neutral-80">{{component.value}}</span>
                                                                </div>
                                                                <div
                                                                    class="lfx-c-badge float-end lfx-c-badge--info aip-related-badge">
                                                                    <span [matTooltip]="'Spec'"
                                                                        [matTooltipPosition]="tooltipPosition">{{component.viewValue}}</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="aip-daa" *ngFor="let component of relatedConnections">
                                                        <div class="aip-related-list"
                                                            (click)="redirectToSelectedComponent(component)">
                                                            <div class="lfx-u-pad-8 aip-cursor">
                                                                <div class="aip-related-component-ellipsis">
                                                                    <span
                                                                        class="lfx-c-nav__nomar lfx-u-header-xl lfx-u-text-neutral-80">{{component.value}}</span>
                                                                </div>
                                                                <div
                                                                    class="lfx-c-badge float-end lfx-c-badge--warning aip-related-badge">
                                                                    <span [matTooltip]="'Related Instance'"
                                                                        [matTooltipPosition]="tooltipPosition">
                                                                        {{component.viewValue}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                            <ng-template #noRelatedInstances>
                                <div class="lfx-u-body-md lfx-u-text-neutral-80  aip-desc-ellipsis">
                                    No Related Components
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>