<div class="view-container">
  <!-- Header -->
  <div class="view-header">
    <div class="header-left">
      <span style="cursor: pointer;">
        <mat-icon class="aip-led-icons" (click)="navigateBack()"
          [ngStyle]="{'color': isBackHovered ? '#0094ff' : 'inherit'}" matTooltip="Back"
          matTooltipPosition="above" (mouseenter)="isBackHovered = true"
          (mouseleave)="isBackHovered = false">arrow_back</mat-icon>
      </span>
      <span class="aip-desc-title">
        <span class="title-prefix">Agent Directory:</span> {{agentData.alias}}
      </span>
    </div>
  </div>

  <!-- Body: main content + side nav -->
  <div class="view-body">
    <div class="view-panel">
      <app-general class="general-block" [agentData]="agentData"></app-general>
    </div>
  </div>
</div>
