.row {
    display: flex;
    padding: 2rem 0px;
    min-height: 30%;
    box-sizing: border-box;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
mat-mdc-button-toggle{
    color: black;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-mdc-button-toggle-checked{
    background-color: var(--base-color)!important;
    color: white !important;
}


::ng-deep  .le-c-card.mat-mdc-card:hover .lfx-u-header-xl {
    color:var(--base-color);
}

.lfx-u-header-xl{
	font-size: 18px !important;
}

.lfx-u-text-neutral-80{
    font-size: 14px !important;
    color:#737373 !important;
}

.lfx-u-header-xxl{
    font-size: 24px !important;
}

::ng-deep .le-c-card.mat-mdc-card .mat-mdc-card-actions .le-c-btn--text:first-child{
    font-size: 14px !important;
    color: var(--base-color);
}

hr {
    color: black !important;
    border-top: 1px solid !important;
}


  .lfx-u-text-primary-80 {
    color: #0052cc;
  }

.lfx-c-card__container-left {
    float: left;
    width: 80%;
  }
