<div *ngIf="card" class="aip-container lfx-l-level2-middle-ctr lfx-u-pad-lr-24">

    <app-aip-header [cardTitle]="CARD_TITLE" [cardName]="card?.name" [action]="'view-details'" [backAction]="true"
        [closeAction]="false" [showRelatedInstances]="showRelatedInstances" (navigateBack)="toggler()"
        (edit)="openModal(editModal)" (delete)="deleteInstance(card?.name)" (zoom)="listToggle()">
    </app-aip-header>
    <mat-card class="lfx-schema-card">
        <mat-tab-group id="schema-modal-tabs" class="tabs-left-aligned" mat-stretch-tabs="false"
            (selectedIndexChange)="basicReqTabChange($event)">

            <!-- Details Tab -->
            <mat-tab label="Details" data-tab-id="Instance-Details">
                <div class="lfx-u-pad-16">
                    <div>
                        <div class="field-display">
                            <div class="lfx-u-body-sm aip-label-color">
                                Description
                            </div>
                            <div class="lfx-u-body-md mt-3" style="min-height: 4rem;">
                                <p class="lfx-u-body-md lfx-u-text-neutral-80 lfx-u-line-2 aip-desc-ellipsis">
                                    {{card?.description}}
                                </p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="field-display aip-model-type col-md-4">
                                <div class="lfx-u-body-sm aip-label-color">Implementation Name</div>
                                <div class="lfx-u-body-md mt-3">{{card?.adaptername}}</div>
                            </div>
                            <div class="field-display aip-model-type col-md-4">
                                <div class="lfx-u-body-sm aip-label-color">Connection Name</div>
                                <div class="lfx-u-body-md mt-3">
                                    {{card?.executiontype}}-{{card?.connectionname}}</div>
                            </div>
                            <div class="field-display aip-model-type col-md-4">
                                <div class="lfx-u-body-sm aip-label-color">Spec Name</div>
                                <div class="lfx-u-body-md mt-3">{{card?.spectemplatedomainname}}
                                </div>
                            </div>
                            <div class="field-display aip-model-type col-md-4 lfx-u-pad-t-16">
                                <div class="lfx-u-body-sm aip-label-color">App Organisation</div>
                                <div class="lfx-u-body-md mt-3">{{card?.organization}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 lfx-u-mar-l-8">
                        <hr class="aip-line" />
                        <div class="row">
                            <div class="field-display aip-createdBy col-md-6">
                                <div class="lfx-u-body-sm aip-label-color">Created By</div>
                                <div class="flex mt-2 align-items-center ">
                                    <div class="lfx-c-avatar  lfx-c-avatar--sm" style="margin: 0 2rem 0 0;">
                                        {{getShortName(card?.createdby)}}</div>
                                    <div class="lfx-u-body-md">{{card?.createdby}}</div>
                                </div>
                            </div>
                            <div class="field-display col-md-6">
                                <div class="lfx-u-body-sm aip-label-color">Created On</div>
                                <div class="lfx-u-body-md  mt-3">{{card?.createdon}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="API Spec" data-tab-id="Instance-APISpec">
                <app-aip-swagger-custom [adapterName]="card?.adaptername" [instanceName]="card?.name"
                    [isAdapter]="isAdapter"></app-aip-swagger-custom>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <ng-template #editModal let-modal>
        <app-adapter-create-edit [data]=card [action]="editAction"></app-adapter-create-edit>
    </ng-template>
    <div *ngIf="showRelatedInstances" class="lfx-l-level2-right-col lfx-u-pad-t-10">
        <mat-card class="lfx-related-card"
            *ngIf="relatedInstances.length > 0 || similarInstances.length > 0 || relatedAdapters.length > 0; else noRelatedInstances">
            <div class="lfx-u-header-lg lfx-u-pad-tb-16 lfx-u-pad-l-32 customHeader">Related
                Components
            </div>
            <div class="aip-filter aip-scroll-hover">
                <div type="default" styleClass="" contentClass="">
                    <div class="lfx-c-panel__content">
                        <div class="lfx-u-pad-16">
                            <mat-list position="left" [selectOnClick]="true">
                                <li class="aip-daa" *ngFor="let component of similarInstances">
                                    <div class="aip-related-list" (click)="redirectToSelectedComponent(component)">
                                        <div class="lfx-u-pad-8 aip-cursor">
                                            <div class="aip-related-component-ellipsis">
                                                <span
                                                    class="lfx-c-nav__nomar lfx-u-header-xl lfx-u-text-neutral-80">{{component.value}}</span>
                                            </div>
                                            <div class="lfx-c-badge float-end lfx-c-badge--warning aip-related-badge">
                                                <span [matTooltip]="'Similar Instance'"
                                                    [matTooltipPosition]="tooltipPosition">{{component.viewValue}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="aip-daa" *ngFor="let component of relatedAdapters">
                                    <div class="aip-related-list" (click)="redirectToSelectedComponent(component)">
                                        <div class="lfx-u-pad-8 aip-cursor">
                                            <div class="aip-related-component-ellipsis">
                                                <span
                                                    class="lfx-c-nav__nomar lfx-u-header-xl lfx-u-text-neutral-80">{{component.value}}</span>
                                            </div>
                                            <div class="lfx-c-badge float-end lfx-c-badge--active aip-related-badge">
                                                <span [matTooltip]="'Implementation'"
                                                    [matTooltipPosition]="tooltipPosition">{{component.viewValue}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="aip-daa" *ngFor="let component of relatedSpecs">
                                    <div class="aip-related-list" (click)="redirectToSelectedComponent(component)">
                                        <div class="lfx-u-pad-8 aip-cursor">
                                            <div class="aip-related-component-ellipsis">
                                                <span
                                                    class="lfx-c-nav__nomar lfx-u-header-xl lfx-u-text-neutral-80">{{component.value}}</span>
                                            </div>
                                            <div class="lfx-c-badge float-end lfx-c-badge--info aip-related-badge">
                                                <span [matTooltip]="'Spec'"
                                                    [matTooltipPosition]="tooltipPosition">{{component.viewValue}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="aip-daa" *ngFor="let component of relatedChains">
                                    <div class="aip-related-list" (click)="redirectToSelectedComponent(component)">
                                        <div class="lfx-u-pad-8 aip-cursor">
                                            <div class="aip-related-component-ellipsis">
                                                <span
                                                    class="lfx-c-nav__nomar lfx-u-header-xl lfx-u-text-neutral-80">{{component.value}}</span>
                                            </div>
                                            <div class="lfx-c-badge float-end lfx-c-badge--info aip-related-badge">
                                                <span [matTooltip]="'Spec'"
                                                    [matTooltipPosition]="tooltipPosition">{{component.viewValue}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="aip-daa" *ngFor="let component of relatedConnections">
                                    <div class="aip-related-list" (click)="redirectToSelectedComponent(component)">
                                        <div class="lfx-u-pad-8 aip-cursor">
                                            <div class="aip-related-component-ellipsis">
                                                <span
                                                    class="lfx-c-nav__nomar lfx-u-header-xl lfx-u-text-neutral-80">{{component.value}}</span>
                                            </div>
                                            <div class="lfx-c-badge float-end lfx-c-badge--info aip-related-badge">
                                                <span [matTooltip]="'Spec'"
                                                    [matTooltipPosition]="tooltipPosition">{{component.viewValue}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </mat-list>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
        <ng-template #noRelatedInstances>
            <mat-card class="lfx-related-card">
                <div class="lfx-u-body-md lfx-u-text-neutral-80 lfx-u-line-2 aip-desc-ellipsis lfx-u-pad-tb-16">
                    <div class="flex justify-content-center align-items-center flex-column">
                        <img src="assets/images/aip_empty_state_leds.svg" class="img-responsive img-color"
                            alt="aip_empty_state_leds" style="width:15rem" />
                        No Related Components
                    </div>
                </div>
            </mat-card>
            <!-- <div class="lfx-u-body-md lfx-u-text-neutral-80  aip-desc-ellipsis">
                No Related Components
            </div> -->
        </ng-template>
    </div>

</div>