<div class="aip-container lfx-u-pad-lr-24" [ngClass]="{'lfx-u-pad-tb-16': action === 'edit'}">
    <app-aip-header [cardTitle]="CARD_TITLE" [action]="action" [backAction]="action==='create'"
        [closeAction]="action==='edit'" (navigateBack)="navigateBack()" (close)="closeAdapterPopup()">
    </app-aip-header>

    <div>
        <!-- Name Field -->
        <div class="lfx-u-mar-t-16 lfx-u-pad-b-8">
            <div class="lfx-u-sub-header-alias">
                Name
                <span class="required-indicator">*</span>
            </div>
            <mat-form-field appearance="fill" class="w-100 custom-alias-field" subscriptSizing="dynamic">
                <input matInput id="schm-modal-alias" [disabled]="false" [(ngModel)]="data.name" required
                    (ngModelChange)="adapterNameChangesOccur($event)" placeholder="Name" #nameRef="ngModel"
                    class="custom-alias-input" [disabled]="action==='edit'" [readonly]="action==='edit'">
                <mat-hint *ngIf="!errMsgFlag && action==='create'" class="custom-hint">Please enter Name in
                    Alphanumeric value, accepted special characters are _ and -</mat-hint>
                <!-- <mat-error *ngIf="errMsgFlag && action==='create'" class="custom-hint-or-error">{{errMsg}}</mat-error> -->
                <mat-error *ngIf="errMsgFlag && action==='create'" class="custom-hint-or-error">{{errMsg}}</mat-error>

            </mat-form-field>
        </div>

        <!-- Description Field -->
        <div class="lfx-u-mar-t-16 lfx-u-pad-b-8">
            <div class="lfx-u-sub-header-alias">Description</div>
            <mat-form-field appearance="fill" class="w-100 custom-alias-field" subscriptSizing="dynamic">
                <input matInput id="schm-modal-description" [(ngModel)]="data.description" placeholder="Description"
                    class="custom-alias-input">
            </mat-form-field>
        </div>

        <!-- Connection Select -->
        <div *ngIf="connectionPromise|async" class="lfx-u-mar-t-16 lfx-u-pad-b-16">
            <div class="lfx-u-sub-header-alias">
                Select Connection
                <span class="required-indicator">*</span>
            </div>
            <mat-form-field appearance="fill" class="w-100 custom-alias-field" subscriptSizing="dynamic">
                <mat-select id="column-type-select" [(ngModel)]="data.connectionname"
                    (selectionChange)="connectionNameSelectChange($event)" required>
                    <mat-option *ngFor="let option of connectionOptions" [value]="option.value">
                        {{ option.viewValue }}
                    </mat-option>
                </mat-select>
                <mat-hint *ngIf="data.connectionname" class="custom-hint-or-error"></mat-hint>
                <mat-error *ngIf="!data.connectionname" class="custom-hint-or-error">Connection is required
                    field.</mat-error>
            </mat-form-field>
        </div>

        <!-- Implementation Select (Create) -->
        <div *ngIf="connectionPromise|async" class="lfx-u-mar-t-16 lfx-u-pad-b-16">
            <div class="lfx-u-sub-header-alias">
                Select Implementation
                <span class="required-indicator">*</span>
            </div>
            <mat-form-field appearance="fill" class="w-100 custom-alias-field" subscriptSizing="dynamic">
                <mat-select id="column-type-select" [(ngModel)]="data.adaptername" [disabled]="action==='edit'"
                    required>
                    <mat-option *ngFor="let option of  adaptersOptions" [value]="option.value">
                        {{ option.viewValue }}
                    </mat-option>
                </mat-select>
                <mat-hint *ngIf="data.adaptername" class="custom-hint-or-error"></mat-hint>
                <mat-error *ngIf="!data.adaptername" class="custom-hint-or-error">Implementation is
                    required
                    field.</mat-error>
            </mat-form-field>
        </div>

        <div mat-dialog-actions class="dialog-actions">
            <button *ngIf="action==='create'" class="save-btn"
                (click)="createInstance()"
                [disabled]="!nameFlag || !createAuth || !data.connectionname || !data.adaptername">
                Create
            </button>
            <button *ngIf="action==='edit'" class="save-btn" (click)="updateInstance()">
                Update
            </button>
        </div>
    </div>
</div>