# Example .env file for essedum-platform
ENCRYPTION_KEY=leap$123##
ENCRYPTION_SALT=NB9+lv0guQXYrZYbTmcS20Vd5FxW1h75b8CaI8r+nnPvYrIIHfYu05JVQf9qtJNCS0Vznh692VhUW9HeCPd2IA==
LICENSE=sOJDitKH4axL5syVqJDVXv4pmu3HZc4uzAwulC6cwf8mpNm9nWVvQA==
PUBLIC_KEY=3bQAP+ugsTVGLWdZ
BACKEND_PORT=8082
FRONTEND_PORT=8084
PYJOB_EXECUTOR_PORT=5001
PYJOB_SAGEMAKER_EXECUTER_PORT=5002
PYJOB_VERTEX_EXECUTER_PORT=5007
PYJOB_AZURE_EXECUTER_PORT=5003
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
SAGEMAKER_ROLE=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_CLOUD_PROJECT=
VERTEX_LOCATION=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
AZURE_SUBSCRIPTION_ID=
MYSQL_ROOT_PASSWORD=password
MYSQL_PORT=3306
QDRANT_PORT=6333
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin123
KEYCLOAK_PORT=8180
# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BROWSER=on
MINIO_PROMETHEUS_AUTH_TYPE=public
MINIO_SERVER_URL=http://minio:9000

# External URLs for browser access
EXTERNAL_ISSUER_URI=http://10.200.111.174:8180/realms/ESSEDUM

# Frontend Configuration URLs
EXTERNAL_BASE_URL=http://10.200.111.174:8082
EXTERNAL_KC_URL=http://10.200.111.174:8180
EXTERNAL_AUTH_URL=http://10.200.111.174:8180/realms/ESSEDUM
