.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
essedum/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
dist/*.map
dist/**/*.map
