<div class="aip-top">
  <div *ngIf="cardToggled; else detailView" class="clearfix aip-tranparent-backgroud js-bodywrapper" id="mainCtr">
    <div class="aip-container">

      <!-- Main content area -->
      <div class="col-sm-12 col-md-9 col-lg-9 lfx-u-pad-lr-30" id="mainrightCnt">
        <!-- Header Section -->
        <div class="aip-content">

          <!-- Header -->
          <app-aip-header [cardTitle]="cardTitle" [lastRefreshedTime]="lastRefreshedTime" [showAddButton]="createAuth"
            (search)="filterz($event)" (refresh)="refreshComplete()" (add)="open()">
          </app-aip-header>

          <!-- Filter Section -->
          <app-aip-filter [tagrefresh]="tagrefresh" [servicev1]="servicev1"  [selectedConnectionTypeList]="{ 
                            selectedAdapterType: selectedAdapterType
                          }" (tagSelected)="tagSelectedEvent($event)"
            (filterStatusChange)="onFilterStatusChange($event)"></app-aip-filter>
        </div>

        <!-- Cards container -->
        <div class="lfx-c-card__action-ul aip-card-container">
          <div class="col-md-8 col-lg-6 col-xl-5 aip-card-wrapper"
            *ngFor="let card of filteredCards | slice: (pageNumber-1) * pageSize : (pageNumber-1) * pageSize + pageSize">
            <div class="card-wrapper h-100">
              <app-aip-card [servicev1]="servicev1"  [card]="card" [editAuth]="editAuth" [deployAuth]="deployAuth"
                [deleteAuth]="deleteAuth" (viewDetails)="viewConnection(card.name)" (edit)="editConnection(card.name)"
                (delete)="deleteConnection(card.name)" (viewDatasets)="navigateTo(card.type)">
                   <ng-template #lgContent1 let-modal>
                                        <app-datasource-config> </app-datasource-config>
                                    </ng-template>
              </app-aip-card>
            </div>
          </div>
        </div>

        <!-- Empty state -->
        <app-aip-empty-state *ngIf="!filteredCards || filteredCards.length==0"></app-aip-empty-state>

        <!-- Pagination -->
        <app-aip-pagination *ngIf="filteredCards && filteredCards.length>0" [pageNumber]="pageNumber" [noOfPages]="noOfPages" [pageArr]="pageArr"
          [startIndex]="startIndex" [endIndex]="endIndex" [hoverStates]="hoverStates" (prevPage)="prevPage()"
          (nextPage)="nextPage()" (changePage)="changePage($event)">
        </app-aip-pagination>

      </div>
    </div>
  </div>

  <!-- Detail view template -->
  <ng-template #detailView>
    <app-datasource-description [card]="selectedCard" (newItemEvent)="changedToogle($event)"
            [cardToggled]="cardToggled" [datasourceAlias]="selectedCard.alias"></app-datasource-description>

  </ng-template>
</div>