.header-title {
  text-align: left;
  font: normal normal 600 24px/30px "Roboto", "Segoe UI", sans-serif !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.header-p-title {
  text-align: left;
  font: normal normal 600 24px/30px "Roboto", "Segoe UI", sans-serif !important;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}