<!-- Pagination -->
<div class="pagination-wrapper">
    <div class="pagination-container">
        <div class="paginator-buttons">
            <div class="pages-details">
                <!-- Previous page button -->
                <mat-icon id="prev-page-btn" data-icon-type="prev-button" class="pagination-arrow" [ngClass]="{
                      'disabled': pageNumber == 1,
                      'active': isPrevHovered && pageNumber != 1
                    }" (mouseenter)="isPrevHovered = true" (mouseleave)="isPrevHovered = false"
                    (click)="pageNumberInput=null; onPrevPage()">
                    keyboard_arrow_left
                </mat-icon>

                <!-- Page numbers -->
                <div class="page-numbers">
                    <span *ngFor="let i of pageArr | slice:startIndex:endIndex; let idx = index" class="pg"
                        (click)="pageNumberInput=null; onChangePage(i+1)"
                        [ngClass]="{'selected-page': (i + 1) == pageNumber, 'hover': hoverStates[idx]}"
                        [ngStyle]="getButtonStyle(i+1, idx)" (mouseenter)="hoverStates[idx] = true"
                        (mouseleave)="hoverStates[idx] = false">
                        {{i + 1}}
                    </span>
                </div>

                <!-- Next page button -->
                <mat-icon id="next-page-btn" data-icon-type="next-button" class="pagination-arrow" [ngClass]="{
                      'disabled': pageNumber == noOfPages,
                      'active': isNextHovered && pageNumber != noOfPages
                    }" (mouseenter)="isNextHovered = true" (mouseleave)="isNextHovered = false"
                    (click)="pageNumberInput=null; onNextPage()">
                    keyboard_arrow_right
                </mat-icon>
            </div>
        </div>
    </div>
</div>