@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.lds-ring {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  // width: 32px;
  // height: 32px;
  // margin: 8px;
  border: 8px solid #5c5b5b;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #686666 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.p-15 {
  padding: 15px !important;
}

.mat-label {
  color: #737373 !important;
  text-align: left;
  font: normal normal normal 12px/18px "Roboto", "Segoe UI", sans-serif !important;
  letter-spacing: 0px;
  color: #737373;
  opacity: 1;
}

.mat-field {
  text-align: left;
  font: normal normal normal 16px/22px "Roboto", "Segoe UI", sans-serif !important;
  letter-spacing: 0px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.lfx-u-mar-l-20{
margin-left: 20px !important;
}

.header-title{
text-align: left;
font: normal normal 600 24px/30px "Roboto", "Segoe UI", sans-serif !important;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.title{
text-align: left;
font: normal normal 600 24px/30px "Roboto", "Segoe UI", sans-serif !important;
letter-spacing: 0px;
color: #999999;
opacity: 1;
}

.download-icon {
  color: grey;
  cursor: pointer;
}

.download-icon:hover {
  color: #0094ff;
}