<div class="container-fluid backgroud-color h-100 p-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="lfx-l-level1-middle-col">
                <div class="lfx-l-level2-middle-ctr">
                    <div class="lfx-l-level2-middle-col">
                        <div class="align-items-center d-flex  justify-content-between d-flex">
                            <div class=" selector-model-title-head d-flex  align-items-center">
                                <span *ngIf="initiativeView">
                                    <span class="">
                                        <mat-icon class="aip-led-icons" (click)="navigateBack()"
                                            [ngStyle]="{'color': isBackHovered ? '#0094ff' : '#0a142f'}"
                                            matTooltip="Back" matTooltipPosition="above"
                                            (mouseenter)="isBackHovered = true"
                                            (mouseleave)="isBackHovered = false">arrow_back</mat-icon>
                                    </span>

                                </span>
                                <span class="lfx-u-mar-l-8 header-title"><span class="title">Model:
                                    </span>{{card.modelName | titlecase}} </span>
                                <span class="lfx-u-mar-l-16 lfx-c-badge float-end"
                                    [ngClass]="[card.status=='Registered'?'lfx-c-badge--blue ':'lfx-c-badge--active',card.status=='Undeployed' || card.status == 'Failed' ?'lfx-c-badge--warning ':'lfx-c-badge--active']">{{card.status}}</span>
                            </div>

                        </div>
                        <div
                            class="col-md-12 col-lg-12 aip-desc lfx-u-pad-b-8 lfx-u-mar-t-24 lfx-u-pad-tb-16 aip-panel-shadow">
                            <div class="ml-2 row col-md-12">
                                <div
                                    [ngClass]="card.description==''||card.description==null||card.description=='null'?'noDisplay':'showDesc'">
                                    <div class="mat-label mt-3">
                                        Description
                                    </div>
                                    <div class="lfx-u-body-md mt-3" style="min-height: 4rem;">
                                        <p class="mat-field">
                                            {{card.description}}
                                        </p>
                                    </div>
                                </div>
                                <div class="lfx-u-mar-t-8">
                                    <div class="mat-label">
                                        Model Path
                                    </div>
                                    <div class="lfx-u-body-md d-flex align-items-center mt-3">
                                        <span
                                            style="width: 90%;line-height: 1.9rem;letter-spacing: .1rem; word-wrap: break-word;background: var(--background-colour)  0% 0% no-repeat padding-box;">{{getFormattedModelPath(card)}}</span>
                                        <span class="mx-4"><mat-icon class="download-icon"
                                                (click)="downloadModel(card)">download</mat-icon></span>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="aip-model-type col-md-4">
                                        <div class="mat-label">Model Type</div>
                                        <div class="mat-field mt-3">{{card.modelType}}</div>
                                    </div>
                                    <div class="aip-model-type col-md-4">
                                        <div class="mat-label">Version</div>
                                        <div class="mat-field mt-3">{{card.version}}</div>
                                    </div>
                                    <div class="aip-model-type col-md-4">
                                        <div class="mat-label">App Organisation</div>
                                        <div class="mat-field mt-3">{{card.organisation}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5 lfx-u-mar-l-20">
                                <hr class="aip-line" />
                                <div class="row">
                                    <div class="aip-createdBy col-md-6">
                                        <div class="mat-label">Created By</div>
                                        <div class="d-flex mt-2 align-items-center " *ngIf="card.createdBy">
                                            <div class="lfx-c-avatar" style="margin: 0 2rem 0 0;">
                                                {{getShortName(card.createdBy)}}</div>
                                            <div class="mat-field">{{card.createdBy}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mat-label">Created On</div>
                                        <div class="mat-field mt-3">{{card.createdOn}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>