mat-card{
    margin-bottom: 10px;
}

.mdc-button.lfx-c-btn--icon span.lfx-c-btn--icon__icon {
  padding: 4px 8px;
  background-position: center center;
  display: inline-block;
  vertical-align: middle;
}