<div class="lfx-u-mar-tb-16 container-fluid">
  <mat-card style="width: 100%">
    <table class="table table-striped lfx-u-mar-t-16">
      <thead>
        <tr>
          <th class="col-md-6" scope="col">Used Secrets</th>
          <th class="col-md-3" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let config of configData; let i = index">
          <td>
            <span *ngIf="editIndex != i">{{ configData[i].value }}</span>
            <input
              *ngIf="editIndex == i && editMode == true"
              [(ngModel)]="configData[i].value"
              class="form-control"
              type="text"
            />
          </td>
          <td>
            <mat-icon 
              matTooltip="Edit"
              style="cursor:pointer; vertical-align: middle; color: gray; margin-right: 4px;"
              [ngStyle]="{'opacity': isauth ? 0.5 : 1, 'pointer-events': isauth ? 'none' : 'auto'}"
              (click)="editConfig(i)">
              edit
            </mat-icon>
            <mat-icon 
              *ngIf="editMode && editIndex == i"
              matTooltip="Save"
              style="cursor:pointer; vertical-align: middle; color: gray; margin-left: 8px;"
              [ngStyle]="{'opacity': isauth ? 0.5 : 1, 'pointer-events': isauth ? 'none' : 'auto'}"
              (click)="editMode = false; editIndex = -1">
              save
            </mat-icon>
            <mat-icon 
              matTooltip="Delete" 
              class="delete-icon"
              style="cursor:pointer; vertical-align: middle; margin-left: 8px; color: gray;"
              [ngStyle]="{'opacity': isauth ? 0.5 : 1, 'pointer-events': isauth ? 'none' : 'auto'}"
              (click)="deleteConfig(i)">
              delete
            </mat-icon>
          </td>
        </tr>
      </tbody>
    </table>

    <button mat-raised-button style="background-color: #0a142f; color: white;"
          [disabled]="isauth" (click)="addConfig()"
          onmouseover="this.style.backgroundColor='#0094ff'; this.style.color='white';"
          onmouseout="this.style.backgroundColor='#0a142f'; this.style.color='white';">
          <span class="lfx-c-btn--icon__icon" style="display: inline-flex; align-items: center; vertical-align: middle;">
            <mat-icon>add</mat-icon>
          </span>
          <span class="lfx-c-btn--icon__text" style="display: inline-flex; align-items: center; vertical-align: middle; margin-left: 4px;">
            Add
          </span>
        </button>
  </mat-card>
</div>
