<div class="embed-fullscreen">
  <iframe
    *ngIf="isUrlConfigured"
    #salusIframeRef
    id="salusIframe"
    [src]="currentIframeUrl"
    frameborder="0"
    allow="fullscreen; microphone; camera">
  </iframe>
  <div *ngIf="!isUrlConfigured" class="not-configured">
    <div class="not-configured-icon">
      <i class="bi bi-shield-check"></i>
    </div>
    <h3>Salus Not Configured</h3>
    <p>The Salus service URL has not been configured for this environment. Set <code>salusUrl</code> in the environment configuration to enable this integration.</p>
  </div>
</div>
