<div>
    <div style="display: flex; margin-left: 60%; align-items: center;">
        <div style="padding-right: 5px;" [ngStyle]="{'color': (!swaggerView) ? 'grey' : '#0094ff'}">Swagger View</div>
        <mat-slider [disabled]="disabled" class="slider-toggle-width" min="0" max="1" step="1" style="margin: 0 8px;">
            <input matSliderThumb [value]="swaggerView ? 0 : 1" (input)="toggle()"
                aria-label="Toggle Swagger/JSON View" />
        </mat-slider>
        <div style="padding-left: 5px;" [ngStyle]="{'color': (swaggerView) ? 'grey' : '#0094ff'}">JSON View</div>
    </div>

    <div style="margin:10px">
        <div *ngIf="swaggerView">
            <div *ngIf="apispecTemplate">
                <div class="spec-header">
                    <section class="block col-12">
                        <div *ngIf="apispecTemplate && apispecTemplate.info">
                            <h2 class="spec-header.title" style="padding-top: 10px;color: #FFFFFF;">
                                {{apispecTemplate && apispecTemplate.info.title}}
                                <span>
                                    <small>
                                        <pre>{{apispecTemplate && apispecTemplate.info.version}}</pre>
                                    </small>
                                    <small>
                                        <pre>OAS3</pre>
                                    </small>
                                </span>
                            </h2>
                        </div>
                        <div *ngIf="!apispecTemplate || !apispecTemplate.info">
                            <h2 class="spec-header.title" style="padding-top: 10px;color: #FFFFFF;">
                                Empty or Invalid Api Spec
                                <span>
                                    <small>
                                        <pre>0</pre>
                                    </small>
                                    <small>
                                        <pre>OAS3</pre>
                                    </small>
                                </span>
                            </h2>
                        </div>
                    </section>
                </div>
                <div class="spec-body">
                    <div class="lfx-u-mar-tb-8">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Servers</mat-label>
                            <mat-select [(value)]="serverUrl" (selectionChange)="selectChange($event)"
                                (openChange)="onServerUrlChange($event)">
                                <mat-option *ngFor="let option of serverUrls" [value]="option.value">
                                    {{ option.value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel *ngFor="let spec of formattedapispec;let i=index">
                            <mat-expansion-panel-header class="exp-header" style="height: 45px;margin-bottom: 1%">
                                <mat-panel-title>
                                    <span class="opblock-summary-method">{{spec.requestType}}</span>
                                </mat-panel-title>
                                <mat-panel-description>
                                    {{spec.path}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="opblock-section-header">
                                <div class="tab-header">
                                    <h4 class="opblock-title">Parameters</h4>
                                </div>
                                <button *ngIf="executionRequired" class="btn try-out_btn" (click)="clickBtn(spec)"
                                    style="margin-left:55%;">
                                    {{spec['button']}}
                                </button>&nbsp;&nbsp;
                                &nbsp;&nbsp;
                                <div *ngIf="isAdapter">
                                    <div *ngIf="existingPaths.indexOf(spec.path+spec.requestType)>-1"
                                        style="display: flex;">
                                        <ul class="flex justify-content-between align-items-center">
                                            <li>
                                                <mat-icon class="aip-led-icons  aip-cursor mx-2"
                                                    (click)="editMethod(spec)" matTooltip="Edit"
                                                    [matTooltipPosition]="tooltipPosition" style="cursor: pointer">
                                                    edit
                                                </mat-icon>
                                            </li>
                                            <li>
                                                <mat-icon class="aip-led-icons  aip-cursor mx-2"
                                                    (click)="deleteMethod(spec)" matTooltip="Delete"
                                                    [matTooltipPosition]="tooltipPosition" style="cursor: pointer">
                                                    delete
                                                </mat-icon>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="spec.parameters || spec.requestBody" class="exp-header">
                                <div style="height:50px;padding-top:2%">
                                    <span style="font-weight: 700;margin: 1.7%;">Name</span>
                                    <span style="margin-left:20%;">Description</span>
                                </div>
                                <mat-divider></mat-divider>
                                <div *ngIf="spec.parameters">
                                    <div *ngFor=" let param of spec.parameters" style="margin-top: 1%;">
                                        <span
                                            style="font-weight:700;margin-left: 1.7%;word-wrap: break-word;color:#3b4151;font-family: var(--font-type) !important;font-size: 16px;">{{param.name}}</span>

                                        <span style="margin-left: 16%;">{{param.description}}</span><br>

                                        <div *ngIf="spec['button']=='Try it out'" style="margin-bottom:1%">
                                            <input type="text" class="param-input" disabled placeholder=""
                                                value="{{param.name}}" style=" cursor: not-allowed;opacity: 0.5;">
                                        </div>
                                        <div *ngIf="spec['button'] =='Cancel'" style="margin-bottom:1%">
                                            <input type="text" class="param-input" placeholder="" value="{{param.name}}"
                                                [(ngModel)]="param['value']" style="opacity: 0.5;">
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="spec.requestBody && spec.requestType=='POST'">
                                    <span
                                        style="font-weight:700;margin-left: 1.7%;word-wrap: break-word;color:#3b4151;font-family: var(--font-type) !important;font-size: 16px;">body</span>
                                    <span style="margin-left: 21%;">{{spec.requestBody.description}}</span><br>
                                    <textarea [(ngModel)]="spec.requestBody['value']" disabled
                                        *ngIf="spec['button']=='Try it out'"
                                        style="background-color: black;  color: white; height: 100px;margin-left:26%; margin-top:1%; width:60%"></textarea>
                                    <textarea [(ngModel)]="spec.requestBody['value']" *ngIf="spec['button']=='Cancel'"
                                        style="background-color: white;  height: 100px;margin-left:26%; margin-top:1%; width:60%"></textarea>
                                    <div style="margin-left:26%; margin-bottom:1%">
                                        <select style="max-width: 100%;min-width: 130px;">
                                            <option value="application/json">application/json</option>
                                        </select>
                                    </div>
                                </div>
                                <div *ngIf="!spec.parameters && !spec.requestBody">No Parameters</div>
                                <div *ngIf="spec['button'] =='Cancel'">
                                    <button
                                        style="cursor: pointer;width:96%;padding:8px 40px;color:white;background-color:#4990e2;border-color:#4990e2;margin:1% 2%;"
                                        (click)="execute(spec)">
                                        Execute
                                    </button>
                                    <button *ngIf="spec['executeFlag']"
                                        style="cursor: pointer;width:96%;padding:8px 40px;color:black;background-color:whitesmoke;border-color:black;margin:1% 2%;"
                                        (click)="spec['executeFlag']=false">Clear</button>
                                </div>
                            </div>
                            <div *ngIf="spec.responses">
                                <div>
                                    <div class="opblock-section-header">
                                        <div class="tab-header">
                                            <h4 class="opblock-title">Responses</h4>
                                        </div>
                                    </div>
                                    <div class="exp-header">
                                        <div style="height:50px;padding-top:2%">
                                            <span style="font-weight: 700;margin: 1.7%;">Code</span>
                                            <span style="margin-left:20%;">Details</span>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <pre *ngIf="spec['executeFlag']"
                                            style="background-color: black;  color: white;margin-top:1%;height: 450px;margin-left: 8%;">{{response | json}}</pre>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <section class="models">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <h4>Schemas</h4>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-divider></mat-divider>
                                <div class="model-container">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title
                                                style="font-size: 16px; font-family:sans-serif;font-weight:600;font-color:#505050;border-radius: 4px;">
                                                <h5>input</h5>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-panel-description>
                                            {{schema && schema.input}}
                                        </mat-panel-description>
                                    </mat-expansion-panel>&nbsp;&nbsp;
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title
                                                style="font-size: 16px; font-family:sans-serif;font-weight:600;font-color:#505050;border-radius: 4px;">
                                                <h5>output</h5>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-panel-description>
                                            {{schema && schema.output}}
                                        </mat-panel-description>
                                    </mat-expansion-panel>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </section>
                </div>
            </div>
        </div>
        <div *ngIf="!swaggerView">
            <div class=" mt-5 ml-2 ">
                <div class="lfx-u-body-lg my-4" style="min-height: 6rem;">
                    <json-editor [options]="editorOptions" [data]="data.apispectemplate" style="height: 450px;"
                        #formJsonEditor="" class="cipJSONEditor"></json-editor>
                </div>
            </div>
        </div>
    </div>
</div>