<div class="lfn-footer"
   >
   <div class="col-3 lfx-img-div">
      <img id="clientimage" src="assets/images/LFN-Logo-White.svg" class="lfn-img"
         alt="LFN Logo">
   </div>
   <div class="col-9 lfn-text-div">
       <lfx-footer style="padding: 12px;"></lfx-footer>
       <!-- <p style="color: #7c868b; font-size: 10px;">Copyright © 2025 The Linux Foundation®. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For more information, including terms of use, Platform Usage, <a href="https://www.linuxfoundation.org/legal/privacy-policy?hsLang=en" target="_blank">Privacy Policy</a>, and <a href="https://www.linuxfoundation.org/legal/trademark-usage?hsLang=en" target="_blank">Trademark Usage</a>, please see our <a href="https://www.linuxfoundation.org/legal/policies" target="_blank">Policies page</a>.</p>  -->
   </div>
</div>