<div class="row" style="position: fixed; bottom: 0; width: 100%; z-index: 9; left: 0; background-color: #0a142f; padding: 10px; display: flex; align-items: center;">
   <div class="col-3" style="text-align: center; margin-top: 5px; flex: 1;">     
      <img id="clientimage" src="assets/images/LFN-Logo-White.svg" style="margin-left: 1vh; width: 180px; height: 20px;" alt="">
   </div>
   <div class="col-9" style="text-align: center; flex: 3;">   
     <lfx-footer style="padding: 12px;"></lfx-footer>
      <!-- <p style="color: white; font-size: 10px;">Copyright © 2025 The Linux Foundation®. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For more information, including terms of use, Platform Usage, <a href="https://www.linuxfoundation.org/legal/privacy-policy?hsLang=en" target="_blank">Privacy Policy</a>, and <a href="https://www.linuxfoundation.org/legal/trademark-usage?hsLang=en" target="_blank">Trademark Usage</a>, please see our <a href="https://www.linuxfoundation.org/legal/policies" target="_blank">Policies page</a>.</p> -->
   </div>
</div>