.ace_editor {
  min-height: 60vh;
  color: white;
  background-color: #0a142f;
}

:host ::ng-deep .ace_cursor {
  border-left: 4px solid white !important;
  background: transparent !important;
}

.ace_print-margin {
  left: 0px;
  height: 0px;
}
.code-editor1 {
  background-color: white;
}
