@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&display=swap');

:host ::ng-deep body,
:host ::ng-deep html {
  font-family: "Roboto", sans-serif !important;
}

.lfx-u-mar-b-16 {
  margin-bottom: 16px !important;
}

.lfx-u-header-xxl {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: "Roboto", "Segoe UI", sans-serif !important;
  font-style: normal;
}

.header-title {
  text-align: left;
  font: normal normal 600 24px/30px "Roboto", "Segoe UI", sans-serif !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.header-p-title {
  text-align: left;
  font: normal normal 600 24px/30px "Roboto", "Segoe UI", sans-serif !important;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
}

.lfx-u-mar-l-8 {
  margin-left: 8px !important;
}

.lfx-u-pad-16 {
  padding: 16px !important;
}

.lfx-u-mar-tb-16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.lfx-l-level2-middle-col {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}

.lfx-u-pad-t-32 {
  padding-top: 32px !important;
}

.lfx-u-pad-lr-24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.lfx-l-level2-middle-ctr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.lfx-c-panel {
  border-radius: 16px;
  background: #ffffff;
  min-height: 100px;
}
.lfx-c-panel {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16) !important;
}

.lfx-l-level1-middle-col {
  padding: 32px 16px 32px 16px;
}

.base-color {
  color: #0094ff !important;
}

.secondary-color {
  color: #0a142f !important;
}

.back-icon {
  font-size: 24px !important;
  color: #0a142f !important;
}
/* Layout utilities */
.lfx-field {
  width: 100%;
  font-family: "Roboto", "Segoe UI", sans-serif !important;
}

.lfx-mt-24 {
  margin-top: 24px;
}

.lfx-mb-16 {
  margin-bottom: 16px;
}

.lfx-button-right {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.lfx-half-col {
  width: 100%;
}

.lfx-half-col {
  width: 48%;
}

.lfx-flex-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.lfx-card {
  margin-top: 24px;
  padding: 16px;
  font-family: "Roboto", "Segoe UI", sans-serif !important;
  color: #0094ff;
}
.next-btn:hover {
  color: #ffffff !important;
  background-color: #ebf1f6 !important;
  height: 30px !important;
  min-height: 30px !important;
  font-size: 12px !important;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: "Roboto", sans-serif !important;
  border-radius: 16px;
  background: transparent
    linear-gradient(90deg, var(---0052cc) 0%, #0094ff 100%) 0% 0% no-repeat
    padding-box;
  background: transparent linear-gradient(90deg, #0052cc 0%, #0094ff 100%) 0% 0%
    no-repeat padding-box;
}

.next-btn {
  color: #002966 !important;
  background-color: #dadada !important;
  height: 30px !important;
  min-height: 30px !important;
  font-size: 12px !important;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: "Roboto", sans-serif !important;
  border-radius: 16px;
  background: #dadada 0% 0% no-repeat padding-box;
  opacity: 1;
}

.next-btn:disabled {
  color: grey !important;
  background-color: #dadada !important;
  height: 30px !important;
  min-height: 30px !important;
  font-size: 12px !important;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: "Roboto", sans-serif !important;
  border-radius: 16px;
  background: #dadada 0% 0% no-repeat padding-box;
  opacity: 1;
}
::ng-deep .mat-mdc-form-field {
  width: 100%;
  background: transparent;
  padding: 0;
}

::ng-deep .mat-mdc-form-field .mat-mdc-text-field-wrapper {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  padding: 0 !important;
}

::ng-deep .mat-mdc-form-field-appearance-fill .mat-mdc-form-field-flex {
  padding: 0 !important;
}

::ng-deep .mat-mdc-input-element {
  font-family: "Roboto", "Segoe UI", sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  padding: 0 !important;
  color: #0a142f;
  background: transparent !important;
  border: none !important;
}

::ng-deep .mat-mdc-form-field-underline {
  display: none !important;
}

::ng-deep .mdc-line-ripple {
  display: none !important;
}

::ng-deep .mat-mdc-select-arrow {
  color: #0a142f !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  margin-top: 4px;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}
::ng-deep .mat-mdc-form-field-required-marker {
  color: grey !important;
}

::ng-deep .mdc-line-ripple {
  display: none !important;
  height: 0 !important;
}

::ng-deep .mat-mdc-select-arrow {
  display: none !important;
}
:host ::ng-deep {
  .dropdown-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    flex-wrap: wrap;
    width: 100%;
  }
}

.custom-select-wrapper {
  position: relative;
  display: flex;

  width: 500px;

  mat-form-field {
    flex: 1;
    margin-bottom: 0;
    width: 100%;

    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }

    .mat-form-field-underline {
      display: none !important;
    }

    .mat-select-placeholder {
      opacity: 1 !important;
    }
  }
  .custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    pointer-events: none;
    color: #737373;
    font-size: 24px;
    transition: transform 0.3s ease;
    z-index: 2;
    &.rotated {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

::ng-deep .mat-mdc-input-element {
  background-color: #f7f7f7ed !important;
  border-bottom: 0px solid rgba(0, 0, 0, 0.42) !important;
}

::ng-deep .mdc-text-field {
  border-bottom: 0px solid rgba(0, 0, 0, 0.42) !important;
}

::ng-deep .mdc-text-field {
  all: unset;
  /* or use display: none; if you want to hide it completely */
  /* display: none; */
}

::ng-deep .mat-mdc-select-arrow {
  display: none !important; // Hide default arrow
}

::ng-deep mat-label {
  text-align: left;
  font: normal normal normal 16px/18px "Roboto", sans-serif !important;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
  font-family: "Roboto", sans-serif !important;
}
::ng-deep mat-option {
  font: normal normal normal  "Roboto", sans-serif !important;
    font-family: "Roboto", sans-serif !important;
}

::ng-deep .mat-mdc-form-field input.mat-mdc-input-element {
  text-align: left;
  font: normal normal normal 16px/24px "Roboto", sans-serif !important;
  letter-spacing: 0px;
  color: #000000 !important;
  // text-transform: capitalize;
  opacity: 1;
  margin-left: 4px !important;
    font-family: "Roboto", sans-serif !important;
}

::ng-deep .mat-mdc-form-field input.mat-mdc-input-element::placeholder {
  color: #737373 !important;
  text-align: left;
  font: normal normal normal 16px/24px "Roboto" !important;
  letter-spacing: 0px;
  text-transform: capitalize;
  opacity: 1;
    font-family: "Roboto", sans-serif !important;
}

.ml-15m {
  margin-left: -11px !important;
}

::ng-deep .mat-mdc-select {
  background-color: #f7f7f7ed !important;
  border-radius: 4px !important;
  margin-left: 4px !important;
  font: normal normal normal "Roboto" !important;
}

.mat-button-radius {
  border-radius: 16px !important;
}

.custom-select-wrapper,
mat-form-field.custom-mat-select {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

::ng-deep .mat-mdc-select-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

::ng-deep .mat-mdc-select-trigger::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("/assets/images/Accordion_open.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  display: block;
  z-index: 2;
}

::ng-deep .mat-mdc-form-field-flex {
  overflow: visible !important;
  position: relative;
}


.ml-10{
  margin-left: -10px !important;
}

.text-transform{
  text-transform: capitalize;
}

.ml-12{
  margin-left: 12px !important;
}
