<div class="container-fluid backgroud-color">
    <div class="lfx-l-level1-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="flex align-items-center lfx-u-pad-t-8" style="justify-content: space-between;">
                    <div class="align-items-center flex">
                        <span class="mx-2 aip-cursor" *ngIf="action==='create'">
                            <mat-icon class="aip-led-icons" (click)="back()"
                                [ngStyle]="{'color': isBackHovered ? '#0094ff' : '#0a142f'}" matTooltip="Back"
                                matTooltipPosition="above" (mouseenter)="isBackHovered = true"
                                (mouseleave)="isBackHovered = false">arrow_back</mat-icon>
                        </span>
                        <span *ngIf="action==='create'" class="lfx-u-mar-l-8 lfx-u-header-xxl">{{cardTitle}} -
                            Create</span>
                        <span *ngIf="action==='edit'" class="lfx-u-mar-l-8 lfx-u-header-xxl">{{cardTitle}} - Edit</span>
                    </div>
                    <mat-icon *ngIf="action==='edit'" class="aip-cursor"
                        [ngStyle]="{'color': isBackHovered ? '#0094ff' : '#0a142f'}" matTooltip="Close"
                        matTooltipPosition="above" (click)="closeAdapterPopup()" (mouseenter)="isBackHovered = true"
                        (mouseleave)="isBackHovered = false">close</mat-icon>
                </div>

                <div class="lfx-u-mar-b-32">
                    <div class="row lfx-u-mar-8 lfx-u-pad-t-16">
                        <div class="table-responsive selector-693-2">
                            <!-- Name Field -->
                            <mat-form-field *ngIf="action==='create'" appearance="fill"
                                class="w-100 description-no-underline no-subscript-space">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Name" [(ngModel)]="data.name" [disabled]="false"
                                    [required]="true" (ngModelChange)="adapterNameChangesOccur($event)">

                            </mat-form-field>
                            <mat-error *ngIf="!errMsgFlag && action==='create'" class="custom-hint">Please enter Name in
                                Alphanumeric value, accepted special characters are _ and -</mat-error>
                            <mat-error *ngIf="errMsgFlag && action==='create'"
                                class="custom-hint-or-error">{{errMsg}}</mat-error>

                            <mat-form-field *ngIf="action==='edit'" appearance="fill"
                                class="w-100 description-no-underline no-subscript-space">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Name" [(ngModel)]="data.name" [disabled]="true"
                                    [required]="true" readonly>

                            </mat-form-field>
                            <mat-hint class="custom-hint-or-error"></mat-hint>

                            <!-- Description Field -->
                            <mat-form-field appearance="fill" class="w-100 description-no-underline no-subscript-space">
                                <mat-label>Description</mat-label>
                                <textarea matInput placeholder="Description" [(ngModel)]="data.description"
                                    rows="1"></textarea>

                            </mat-form-field>
                            <mat-hint class="custom-hint-or-error"></mat-hint>

                            <mat-form-field *ngIf="connectionPromise|async" appearance="fill"
                                class="w-100 subscript-space">
                                <mat-label>Select Connection</mat-label>
                                <mat-select [(value)]="data.connectionname"
                                    (selectionChange)="connectionNameSelectChange($event)" required>
                                    <mat-option *ngFor="let option of connectionOptions" [value]="option.value">
                                        {{ option.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-hint *ngIf="data.connectionname" class="custom-hint-or-error"></mat-hint>
                            <mat-error *ngIf="!data.connectionname" class="custom-hint-or-error">Connection is required
                                field.</mat-error>

                            <mat-form-field *ngIf="action==='create'" appearance="fill" class="w-100 subscript-space">
                                <mat-label>Select Implementation</mat-label>
                                <mat-select [(value)]="data.adaptername" (selectionChange)="implchangeoccur($event)"
                                    required>
                                    <mat-option *ngFor="let option of adaptersOptions" [value]="option.value">
                                        {{ option.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-hint *ngIf="data.adaptername" class="custom-hint-or-error"></mat-hint>
                            <mat-error *ngIf="!data.adaptername" class="custom-hint-or-error">Implementation is
                                required
                                field.</mat-error>

                            <mat-form-field *ngIf="action==='edit'" appearance="fill" class="w-100 subscript-space">
                                <mat-label>Select Implementation</mat-label>
                                <mat-select [(value)]="data.adaptername" (selectionChange)="implchangeoccur($event)"
                                    required [disabled]="true">
                                    <mat-option *ngFor="let option of adaptersOptions" [value]="option.value">
                                        {{ option.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-hint *ngIf="action==='edit'" class="custom-hint-or-error"></mat-hint>

                            <div *ngIf="isChain">

                                <mat-form-field *ngIf="connectionPromise|async" appearance="fill"
                                    class="w-100 subscript-space">
                                    <mat-label>Select Runtime</mat-label>
                                    <mat-select [(value)]="data.runtimename"
                                        (selectionChange)="runtimeNameSelectChange($event)" required>
                                        <mat-option *ngFor="let option of runtimeOptions" [value]="option.value">
                                            {{ option.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-hint *ngIf="data.runtimename" class="custom-hint-or-error"></mat-hint>
                                <mat-error *ngIf="!data.runtimename" class="custom-hint-or-error">Runtime is required
                                    field.</mat-error>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="action==='create'" class="m-2 flex justify-content-end lfx-u-pad-t-8 lfx-u-pad-r-8">

                        <button mat-raised-button color="primary" class="ml-2"
                            [disabled]="!nameFlag || !createAuth || !data.connectionname || !data.adaptername|| !(isChain? data.runtimename : true)"
                            (click)="createInstance()">
                            Create
                        </button>
                    </div>
                    <div *ngIf="action==='edit'" class="flex justify-content-end lfx-u-pad-t-8 lfx-u-pad-r-8">
                        <button mat-raised-button color="primary" [disabled]="false" (click)="updateInstance()">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>